<!DOCTYPE html>
<html>
  <head>
    <title>
      Samvith Labs
    </title>
    <link rel=stylesheet href="../mainstyle.css" />
    <link rel="icon" type="image/x-icon" href="../samvithlabs-nobg.ico" />
  </head>
  <body>
    <script src="../mainscript.js"></script>
    
    <div id="main-navbar1-container">
      <button class="main-navbar1-option">
        <a class="main-navbar1-option-link" href="../">
          home
        </a>
      </button>
      <button class="main-navbar1-option">
        <a class="main-navbar1-option-link" href="../music">
          my music
        </a>
      </button>
      <button class="main-navbar1-option">
        <a class="main-navbar1-option-link" href="../games">
          my games
        </a>
      </button>
      <button class="main-navbar1-option">
        <a class="main-navbar1-option-link" href="../projects">
          my projects
        </a>
      </button>
      <button class="main-navbar1-option">
        <a class="main-navbar1-option-link" href="https://game2study.com">
          game2study
        </a>
      </button>
    </div>
  </body>
</html>
